.a {
  color:magenta;
  font-size: 15px;
}

h1{
  color:blue;
  font-size: 30px;
}

h3{
  color:blue;
  font-size: 15px;
}

h2{
  color:blue;
  font-size:25;
}

.cc{
  color:orange;
  font-size: 25px;
}

.c{
  color:red;
  font-size: 40px;
}

.d{
  color:aqua;
  font-size: 40px;
}

p{
  color:pink;
  font-size:15;
}
footer{
  color:green;
  font-size: 40px;
  margin: 30px
}

*{
  border: 1px solid red
}
.shoe1{
  margin-right: 10px

}
