.navbar{
  color:magenta;
  font-size: 15px;
  margin-left: 100px;
}

h1{
  color:blue;
  font-size: 30px;
  width: 200px;
  height: 75px;
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 50px
}

h2{
  color:blue;
  font-size:25;
  display: inline-block;
}

.cc{
  color:orange;
  font-size: 25px;
}


.d{
  color:aqua;
  font-size: 40px;
}

p{
  color: black;
  font-size:20;
  display: inline-block;
}
footer{

  font-size: 15px;
  margin: 5px;
}

*{
  border: 1px solid red;
}

.shoe1{
  margin-right: 10px;
}

.recommend{
  color:green;
  margin-left: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 300px;
}

.imgrec{
  margin-left: 50px;
  margin-right: 50px;
  counter-increment: 50px;
}

.h3{

}

.h5{
  margin-top: 5px;
  margin-bottom: 5px;
}
