.navbar{
  color:magenta;
  font-size: 15px;
  margin-left: 10px;

}

.quick{
  background-color: magenta;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  display: inline-block;
  width: 40%;
}

h1{
  color:blue;
  font-size: 30px;
  width: 200px;
  height: 75px;
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 50px
}

h2{
  color:blue;
  font-size:25;
  margin-left: 10%;

}

p{
  color: black;
  font-size:15;
  display: inline-block;

  margin-top: 0px;
  margin-bottom: 0px;
}
 .imgrec{
   background-color: magenta;
 }

footer{
  font-size: 15px;
  margin: 0px;
}

*{
  border: 1px solid pink;
}

.shoe1{
  margin-left: 5%;
  display: inline-block;

}


.recommend{
  color:green;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}

.imgrec{
  margin-left: 50px;
  margin-right: 50px;
  counter-increment: 50px;
  }

h5{
  margin-top: 0px;
  margin-bottom: 0px;
}

footer li,
.navbar li{
  display: inline-block;
  margin-right: 5%;
}
 h3{
   margin-top: 5px;
   margin-bottom: 5px;
 }

 .exciting{
   margin-left: 15%;
   margin-right: 15%;
 }

.review{
  float: right;
}
.head-interior{
  display: inline-block;
}
